<div class="root">
    <div class="header">

    </div>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="userForm" (submit)="onSubmit()">

                <div>
                    <label>First Name</label>
                    <div class="wrpper">
                        <input class="form-control form-control_error" placeholder="Enter your firstname"
                            formControlName="name" required>
                            <span class="error"
                            *ngIf="userForm.invalid && userForm.controls['name'].touched&&userForm.controls['name'].errors?.pattern">
                            First Name is must be more than 3 characters
                        </span>
                        <span class="error"
                            *ngIf="userForm.invalid && userForm.controls['name'].touched&&userForm.controls['name'].errors?.required">
                            First Name is required
                        </span>
                        
                    </div>
                </div>

                <div>
                    <label>Last Name</label>
                    <div class="wrpper">
                        <input class="form-control form-control_error" placeholder="Enter your lastname"
                            formControlName="lastName">
                            <span class="error"
                        *ngIf="userForm.invalid && userForm.controls['lastName'].touched&&userForm.controls['lastName'].errors?.pattern">
                        Last Name must be more than 3 characters
                    </span>
                        <span class="error"
                            *ngIf="userForm.invalid && userForm.controls['lastName'].touched&&userForm.controls['lastName'].errors?.required">
                            Last Name is required
                        </span>
                        
                    </div>
                </div>
                <div>
                    <label>Username</label>

                    <div class="wrpper">
                        <input class="form-control form-control_error" placeholder="Enter your username"
                            formControlName="username">
                        <span class="error"
                            *ngIf="userForm.invalid && userForm.controls['username'].touched&&userForm.controls['username'].errors?.required">
                            Username is required
                        </span>
                        
                    </div>
                </div>
                <div>
                    <label>Password</label>

                    <div class="wrpper">
                        <input type="password" class="form-control form-control_error" placeholder="Enter your password"
                            formControlName="password">
                            <span class="error"
                        *ngIf="userForm.invalid && userForm.controls['password'].touched&&userForm.controls['password'].errors?.pattern">
                        Password must be more than 6 characters at least includes 1 capital letter and 1 special char  _  $ #   
                    </span>
                        <span class="error"
                            *ngIf="userForm.invalid && userForm.controls['password'].touched&&userForm.controls['password'].errors?.required">
                            Password is required
                        </span>
                        
                    </div>
                </div>
                <div>
                    <label>Email</label>

                    <div class="wrpper">
                        <input type="email" class="form-control form-control_error"
                            placeholder="Enter your email address" formControlName="email">
                        <span class="error"
                            *ngIf="userForm.invalid && userForm.controls['email'].touched&&userForm.controls['email'].errors?.required">
                            Email is required
                        </span>
                        <span class="error"
                            *ngIf="userForm.invalid && userForm.controls['email'].touched&&userForm.controls['email'].errors?.email">
                            Email is invalid
                        </span>
                    </div>
                </div>
                <div>
                    <label>Phone Number</label>

                    <div class="wrpper">
                        <input class="form-control form-control_error" placeholder="Enter you phone #"
                            formControlName="phoneNumber">
                            <span class="error"
                            *ngIf="userForm.invalid && userForm.controls['phoneNumber'].touched&&userForm.controls['phoneNumber'].errors?.pattern">
                            PhoneNumber must be 10 digits without starting with Zero
                        </span>
                        <span class="error"
                            *ngIf="userForm.invalid && userForm.controls['phoneNumber'].touched&&userForm.controls['phoneNumber'].errors?.required">
                            PhoneNumber is required
                        </span>
                    </div>
                </div>

                <div class="footer">
                    <button [routerLink]="['/']" class="btn">Back</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>