
<div class="root">
<div class="header">
  <div>

  </div>
  <div><button [routerLink]="['user-detail/new']" class="btn btn-primary">Create user</button></div>

</div>
<div class="content">

  <table class="table">
    <thead>
      <th>Name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone no</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" >
        <td>{{user.name}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['user-detail/'+user.id]" style="margin-right: 3px;">Edit</button>
          <button class="btn btn-danger" (click)="deleteUser(user.id)"> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
</div>